:root {
  --color-white: #ffffff;
  --color-blue-50: #0060df;
  --color-blue-60: #0250bb;
  --color-blue-70: #054096;

  --color-cyan-20: #aaf2ff;
  --color-cyan-30: #80ebff;
  --color-cyan-50: #00ddff;

  --color-gray-50: #bfbfc9;
  --color-gray-60: #8f8f9d;
  --color-gray-90: #1c1b22;

  --color-canvas: var(--color-white);

  --brand-color-accent: var(--color-blue-50);
  --brand-color-accent-hover: var(--color-blue-60);
  --brand-color-accent-active: var(--color-blue-70);

  --in-content-page-background: #fff;
  --in-content-page-color: rgb(21, 20, 26);
  --in-content-border-color: #d7d7db;

  --border-interactive-color: var(--color-gray-60);

  --in-content-primary-button-text-color: rgb(251,251,254);
  --in-content-primary-button-background: #0061e0;
  --in-content-primary-button-background-hover: #0250bb;
  --in-content-primary-button-background-active: #053e94;
  --in-content-primary-button-text-color-hover: var(--in-content-primary-button-text-color);
  --in-content-primary-button-text-color-active: var(--in-content-primary-button-text-color);
  --in-content-primary-button-border-color: transparent;
  --in-content-primary-button-border-hover: transparent;
  --in-content-primary-button-border-active: transparent;
  --in-content-item-hover: color-mix(in srgb, var(--in-content-primary-button-background) 20%, transparent);
  --in-content-box-background: #fff;
  --in-content-box-background-odd: rgba(12, 12, 13, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-canvas: var(--color-gray-90);

    --brand-color-accent: var(--color-cyan-50);
    --brand-color-accent-hover: var(--color-cyan-30);
    --brand-color-accent-active: var(--color-cyan-20);

    --in-content-page-background: rgb(28, 27, 34);
    --in-content-page-color: rgb(251, 251, 254);
    --in-content-border-color: rgba(249, 249, 250, 0.2);

    --border-interactive-color: var(--color-gray-50);

    --in-content-primary-button-text-color: rgb(43, 42, 51);
    --in-content-primary-button-background: rgb(0, 221, 255);
    --in-content-primary-button-background-hover: rgb(128, 235, 255);
    --in-content-primary-button-background-active: rgb(170, 242, 255);
    --in-content-box-background: rgb(35, 34, 43);
    --in-content-box-background-odd: rgba(249,249,250,0.05);
  }
}

:root {
  font: message-box;
  color: var(--in-content-page-color);
  background: var(--in-content-page-background);
  scale: 92%; /* scale / vertical scrollbar fix */
}

header {
  margin-bottom: 1rem;
}

#lowcarb {
  margin: 0 auto;
  scale: 102%;
}

.lc-table {
  overflow-y: scroll;
  height: 30rem;
  border: 1px solid var(--in-content-border-color);
  border-radius: 4px;
  background-color: var(--in-content-box-background);
  margin-bottom: 1rem;
}

#domains-container > .lc-list-item:nth-child(odd) {
  background-color: var(--in-content-box-background-odd);
}

#domains-container > .lc-list-item:hover {
  background-color: var(--in-content-item-hover);
}

.lc-settings-container {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.toggle-label {
  padding: 0.8rem;
}

.lc-footer {
  display: flex;
  gap: 2rem;
  margin-left: 1rem;
  padding-bottom: 2rem;
}

.lc-list-item {
  height: var(--size-item-large);
  display: flex;
  align-items: center;
}

.lc-list-item:not(.lc-selected) {
  padding-left: 1.8rem;
}

.lc-selected {
  font-weight: bolder;
}

.lc-selected::before {
  content:  '✓';
  width: 1.3rem;
  padding-left: 0.5rem;
}

.panel-section-list {
  font-weight: lighter;
}

/* form styles */

:root {
  --color-accent-primary: var(--brand-color-accent);
  --color-accent-primary-hover: var(--brand-color-accent-hover);
  --color-accent-primary-active: var(--brand-color-accent-active);

  --button-background-color: color-mix(in srgb, currentColor 7%, transparent);
  --button-background-color-hover: color-mix(in srgb, currentColor 14%, transparent);
  --button-background-color-active: color-mix(in srgb, currentColor 21%, transparent);
  --button-line-height: var(--line-height-small);
  --button-font-weight: var(--font-weight-bold);

  --font-size-small: 0.867rem;
  --font-weight-bold: 600;

  --size-item-small: 16px;
  --size-item-large: 32px;

  --line-height-small: 1.3;

  --border-radius-circle: 9999px;
  --border-width: 1px;

  --focus-outline-width: 2px;
  --focus-outline-color: var(--color-accent-primary);
  --focus-outline-offset: 2px;

  --in-content-button-border-color: transparent;
  --in-content-focus-outline-width: var(--focus-outline-width);
  --in-content-focus-outline-color: var(--focus-outline-color);
  --in-content-focus-outline-offset: var(--focus-outline-offset);

}

.lc-button {
  appearance: none;
  border: 1px solid var(--in-content-button-border-color);
  border-radius: 4px;
  line-height: var(--button-line-height);
  text-decoration: none;
  margin: 4px 8px;
  font-weight: var(--button-font-weight);
  padding: .25em 1em;
  font-size: var(--font-size-small);
  min-height: 28px;
  margin-inline: 4px;

  background-color: var(--in-content-primary-button-background);
  color: var(--in-content-primary-button-text-color);
  border-color: var(--in-content-primary-button-border-color);
}


.lc-button:focus-visible {
  box-shadow: none;
  outline: var(--in-content-focus-outline-width) solid var(--in-content-focus-outline-color);
  outline-offset: var(--in-content-focus-outline-offset);
}

.lc-button:disabled {
  opacity: 0.4;
}

.lc-button:enabled:hover {
  background-color: var(--in-content-primary-button-background-hover);
  color: var(--in-content-primary-button-text-color-hover);
  border-color: var(--in-content-primary-button-border-hover);
}

.lc-button:enabled:hover:active {
  background-color: var(--in-content-primary-button-background-active);
  color: var(--in-content-primary-button-text-color-active);
  border-color: var(--in-content-primary-button-border-active);
}


/* toggle-button: inspired by moz-toggle */

.toggle-label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggle-button {
  --toggle-background-color: var(--button-background-color);
  --toggle-background-color-hover: var(--button-background-color-hover);
  --toggle-background-color-active: var(--button-background-color-active);
  --toggle-background-color-pressed: var(--color-accent-primary);
  --toggle-background-color-pressed-hover: var(--color-accent-primary-hover);
  --toggle-background-color-pressed-active: var(--color-accent-primary-active);
  --toggle-border-color: var(--border-interactive-color);
  --toggle-border-radius: var(--border-radius-circle);
  --toggle-border-width: var(--border-width);
  --toggle-height: var(--size-item-small);
  --toggle-width: var(--size-item-large);
  --toggle-dot-background-color: var(--toggle-border-color);
  --toggle-dot-background-color-on-pressed: var(--color-canvas);
  --toggle-dot-margin: 1px;
  --toggle-dot-height: calc(var(--toggle-height) - 2 * var(--toggle-dot-margin) - 2 * var(--toggle-border-width));
  --toggle-dot-width: var(--toggle-dot-height);
  --toggle-dot-transform-x: calc(var(--toggle-width) - 4 * var(--toggle-dot-margin) - var(--toggle-dot-width));
}

.toggle-button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: var(--toggle-border-width) solid var(--toggle-border-color);
  height: var(--toggle-height);
  width: var(--toggle-width);
  border-radius: var(--toggle-border-radius);
  background: var(--toggle-background-color);
  box-sizing: border-box;
  flex-shrink: 0;
}

.toggle-button:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.toggle-button:enabled:hover {
  background: var(--toggle-background-color-hover);
  border-color: var(--toggle-border-color);
}

.toggle-button:enabled:active {
  background: var(--toggle-background-color-active);
  border-color: var(--toggle-border-color);
}

.toggle-button[aria-pressed="true"] {
  background: var(--toggle-background-color-pressed);
  border-color: transparent;
}

.toggle-button[aria-pressed="true"]:enabled:hover {
  background: var(--toggle-background-color-pressed-hover);
  border-color: transparent;
}

.toggle-button[aria-pressed="true"]:enabled:active {
  background: var(--toggle-background-color-pressed-active);
  border-color: transparent;
}

.toggle-button::before {
  display: block;
  content: "";
  background-color: var(--toggle-dot-background-color);
  height: var(--toggle-dot-height);
  width: var(--toggle-dot-width);
  margin: var(--toggle-dot-margin);
  border-radius: var(--toggle-border-radius);
  translate: 0;
  transition: translate 100ms;
}

.toggle-button[aria-pressed="true"]::before {
  translate: var(--toggle-dot-transform-x);
  background-color: var(--toggle-dot-background-color-on-pressed);
}

.toggle-button[aria-pressed="true"]:enabled:hover::before,
.toggle-button[aria-pressed="true"]:enabled:active::before {
  background-color: var(--toggle-dot-background-color-on-pressed);
}

.toggle-button[aria-pressed="true"]:-moz-locale-dir(rtl)::before,
.toggle-button[aria-pressed="true"]:dir(rtl)::before {
  translate: calc(-1 * var(--toggle-dot-transform-x));
}